In [39]:
import gdown
file_id = '1yB5qSBOLl96Y563nIewKOU8RN_gsY3dO'  # Make sure it's a string
gdown.download(f'https://drive.google.com/uc?id={file_id}', 'data.csv', quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1yB5qSBOLl96Y563nIewKOU8RN_gsY3dO
To: c:\Users\ncc\Desktop\AI_DATA1\AI-D-D\WEEK_6\TASK_FOLDER\data.csv
100%|██████████| 52.0k/52.0k [00:00<00:00, 226kB/s]

'data.csv'

In [40]:
import pandas as pd
import numpy as np

df = pd.read_csv('data.csv')
df.head()

   Unnamed: 0    country food_category  consumption  co2_emission
0           1  Argentina          pork        10.51         37.20
1           2  Argentina       poultry        38.66         41.53
2           3  Argentina          beef        55.48       1712.00
3           4  Argentina     lamb_goat         1.56         54.63
4           5  Argentina          fish         4.36          6.96

In [41]:
df

      Unnamed: 0     country food_category  consumption  co2_emission
0              1   Argentina          pork        10.51         37.20
1              2   Argentina       poultry        38.66         41.53
2              3   Argentina          beef        55.48       1712.00
3              4   Argentina     lamb_goat         1.56         54.63
4              5   Argentina          fish         4.36          6.96
...          ...         ...           ...          ...           ...
1425        1426  Bangladesh         dairy        21.91         31.21
1426        1427  Bangladesh         wheat        17.47          3.33
1427        1428  Bangladesh          rice       171.73        219.76
1428        1429  Bangladesh      soybeans         0.61          0.27
1429        1430  Bangladesh          nuts         0.72          1.27

[1430 rows x 5 columns]

In [42]:
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [43]:
# Select Argentina beef consumption
arg_beef = df[(df["country"]=="Argentina") & (df["food_category"]=="beef")]
arg_beef

     country food_category  consumption  co2_emission
2  Argentina          beef        55.48        1712.0

In [44]:
arg_consump = arg_beef["consumption"]
arg_consump

2    55.48
Name: consumption, dtype: float64

In [45]:
arg_consump_mean = arg_consump.mean()
arg_consump_mean

np.float64(55.48)

In [46]:
print("Mean Beef Consumption (Argentina):", arg_consump_mean)

Mean Beef Consumption (Argentina): 55.48

In [47]:
bang_beef = df[(df["country"]=="Bangladesh") & (df["food_category"]=="beef")]
bang_beef

         country food_category  consumption  co2_emission
1421  Bangladesh          beef         1.28          39.5

In [48]:
bang_consump = bang_beef["consumption"]
bang_consump

1421    1.28
Name: consumption, dtype: float64

In [49]:
bang_consump_mean = bang_consump.mean()
bang_consump_mean

np.float64(1.28)

In [50]:
print("Mean Beef Consumption (Bangladesh):", bang_consump_mean)

Mean Beef Consumption (Bangladesh): 1.28

In [51]:
arg_beef_samples = np.random.normal(loc=arg_consump_mean, scale = 5, size = 30)

bang_beef_samples = np.random.normal(loc=bang_consump_mean, scale = 5, size = 30)

In [52]:
arg_beef_samples

bang_beef_samples

array([ 1.25849365e+00, -1.02064379e+01,  2.52178592e+00, -4.24199342e-01,
        6.72659183e+00, -1.00880366e+01, -8.35366073e-02,  3.36679822e+00,
       -5.84018760e+00,  7.16214148e+00, -1.37814945e+00, -4.43882196e+00,
        3.91559846e+00,  2.14999554e+00, -1.37495814e+00, -5.48127186e+00,
        4.85970305e+00,  6.36565572e+00,  1.26291827e+01,  9.19791344e-03,
       -3.43058336e+00, -9.74163887e+00, -4.79538582e+00,  5.71453746e+00,
        6.42039403e+00, -5.84797880e+00, -8.46556958e-01,  1.21125734e+01,
       -5.18744034e-01, -1.05646520e+00])

In [53]:
from scipy import stats
t_stat, p_val = stats.ttest_ind(arg_beef_samples, bang_beef_samples)

In [54]:
print("T-statistic:", t_stat)

T-statistic: 34.901127189175334

In [55]:
print("P-value:", p_val)

P-value: 1.2501961860779373e-40

### Task:

Is the beef consumption in Argentina significantly different from that in Bangladesh?

H₀: Mean beef consumption (Argentina) = Mean beef consumption (Bangladesh)

H₁: Mean beef consumption (Argentina) ≠ Mean beef consumption (Bangladesh)

From our result, p is  < 0.05, therefore reject H₀ → beef consumption differs significantly.