## Class Task 6 ##

* Name: Osho Ridwanullah 
* Track: AI-ENGINEERING

1: Class Test Scores

The following are the Mathematics test scores (out of 20) for a class of 15 students:
 5, 8, 10, 12, 12, 12, 13, 14, 14, 15, 16, 18, 18, 20, 20
- Find the mean, median, and mode of the scores.


- If the lowest score (5) was wrongly recorded and should have been 10, how would the mean change? Would the median or mode change? Explain.

**Mean**
$$
Mean = \frac{1}{n}\sum^n_{i = 1}{x_i}
$$

test scores = 5, 8, 10, 12, 12, 12, 13, 14, 14, 15, 16, 18, 18, 20, 20

number of scores = 15
$$
= \frac{5+8+10+12+12+12+13+14+14+15+16+18+18+20+20}{15}
$$

= 13.8

The mean value is 13.8

**Median**

test scores = 5, 8, 10, 12, 12, 12, 13, 14, 14, 15, 16, 18, 18, 20, 20

number of scores = 15

The median which is the middle value is 14

**Mode**

test scores = 5, 8, 10, 12, 12, 12, 13, 14, 14, 15, 16, 18, 18, 20, 20

number of scores = 15

The mode which is the highest occurring value between the number is 12

- If the lowest score (5) was wrongly recorded and should have been 10, how would the mean change? Would the median or mode change? Explain.


**1. Mean**
$$
Mean = \frac{1}{n}\sum^n_{i = 1}{x_i}
$$

test scores = 10, 8, 10, 12, 12, 12, 13, 14, 14, 15, 16, 18, 18, 20, 20

number of scores = 15
$$
= \frac{10+8+10+12+12+12+13+14+14+15+16+18+18+20+20}{15}
$$

= 14.13

The mean value is 14.13

**2. Median**

8, 10, 10, 12, 12, 12, 13, 14, 14, 15, 16, 18, 18, 20, 20


The median value would not change. 

**3. Mode**

8, 10, 10, 12, 12, 12, 13, 14, 14, 15, 16, 18, 18, 20, 20

The mode value would also not change

2: Daily Commute Times

A group of 9 students reported the time (in minutes) it takes them to get to school each day:
 15, 20, 20, 25, 25, 30, 60, 65, 120
Find the mean, median, and mode of the data.


Which measure (mean, median, or mode) do you think best represents the “typical” time it takes students to get to school? Why?
 (Hint: Think about the effect of the student who takes 120 minutes.)

**1. Mean**
$$
Mean = \frac{1}{n}\sum^n_{i = 1}{x_i}
$$

Time taken = 15, 20, 20, 25, 25, 30, 60, 65, 120

number of students = 9
$$
= \frac{15+20+20+25+25+30+60+65+120}{9}
$$

The median value is : 42.22

**Median**

Time taken = 15, 20, 20, 25, 25, 30, 60, 65, 120

number of students = 9

The median which is the middle value is 25

**Mode**

test scores = 15, 20, 20, 25, 25, 30, 60, 65, 120

number of scores = 15

The mode which is the highest occurring value between the number is 12