In [1]:
import pandas as pd
import os
import openpyxl
import seaborn
import matplotlib

In [2]:
sales = pd.read_excel("sales_data.xlsx")

``Exploratory Data Analysis``

In [6]:
sales.head(3)

,Sales Person,Geography,Product,Date,Amount,Boxes
0,Barr Faughny,New Zealand,Raspberry Choco,2021-01-01,8414,495
1,Dennison Crosswaite,Canada,White Choc,2021-01-01,532,54
2,Karlen McCaffrey,USA,99% Dark & Pure,2021-01-01,5376,269

In [7]:
sales.isna().sum()

Sales Person    0
Geography       0
Product         0
Date            0
Amount          0
Boxes           0
dtype: int64

In [8]:
sales.shape

(3791, 6)